<configuration> 

   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>solexadaemon.log</file>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <root level="error">
    <appender-ref ref="FILE" />
  </root>
</configuration>